body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

/*? **`` Form section */
/* ***************************************************** */
#search-input {
  padding: 5px 10px;
  border-radius: 50px;
  width: 350px;
  text-align: center;
}

#search-input::placeholder {
  text-align: center;
  opacity: 1;
}

#search-input:focus::placeholder {
  opacity: 0;
  transition: opacity 500ms;
}

#submit-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  transform: scale(0.35) scaleX(-1);
  position: relative;
  left: -60px;
  bottom: -25px;
  cursor: pointer;
}

/*? **`` Main section */
/* ***************************************************** */
main {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  width: 80vw;
}

#city-wrapper {
  background: rebeccapurple;
  color: white;
  grid-column: 2 / 3;
}

#current-weather-wrapper {
  background: #1ce;
  grid-column: 3 / 4;
}

#forecast-weather-wrapper {
  background: #bada55;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#forecast-weather-wrapper > * {
  border: 2px solid #000;
}

.multi-city-wrapper {
  background: rgb(255, 206, 150);
  width: fit-content;
}

.city-choice:hover {
  background: orange;
  cursor: pointer;
}

/*? **`` Pseudo element symbols and such */
/* ***************************************************** */
.temp_c::after,
.temp_f::after {
  content: '°';
}

.mintemp_c::after,
.mintemp_f::after {
  content: '° low';
}

.maxtemp_c::after,
.maxtemp_f::after {
  content: '° high';
}

.daily_chance_of_rain::after {
  content: '% chance of rain';
}

.daily_chance_of_snow::after {
  content: '% chance of snow';
}

.totalprecip_in::after,
.totalsnow_in::after {
  content: ' in';
}

.totalprecip_mm::after {
  content: ' mm';
}

.totalsnow_cm::after {
  content: ' cm';
}

/*? **`` This is controlled by javascript */
/* ***************************************************** */
.measure-hidden {
  display: none;
}

.weather-hidden {
  display: none;
}

.irrelevant-hidden {
  display: none;
}
