/* todo **`` The forecast temps aren't lining up with each other. I should add two extra 1fr columns, then fix the date to the right side of the 3rd column. Maybe get rid of the 'left' property */
/* todo **`` Need to change dates to 'Mon 14, Tue 15, etc' using Date() maybe.  */
/* todo **`` Need to work on responsive/break points. Container queries.  */
/*todo **`` Need to get rid of comments*/

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px 15px;
  background: linear-gradient(rgb(255, 255, 255), #48798e);
  color: rgb(0, 0, 0);
}

/*? **`` Form search bar section */
/* ***************************************************** */
#search-input {
  padding: 5px 10px;
  border-radius: 50px;
  width: 350px;
  text-align: center;
}

#search-input::placeholder {
  text-align: center;
  opacity: 1;
}

#search-input:focus::placeholder {
  opacity: 0;
  transition: opacity 500ms;
}

#submit-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  position: relative;
  left: -40px;
  top: -18px;
  cursor: pointer;
  user-select: none;
}

#submit-button img {
  position: absolute;
  width: 25px;
  transform: scaleX(-1);
}

/*? **`` Form C or F toggle section */
/* ***************************************************** */
#toggle-wrapper {
  display: flex;
  position: relative;
  bottom: -10px;
  font-size: 1.5rem;
}

#C-toggle,
#F-toggle {
  appearance: none;
  /* color: lightgrey; */
}

#C-toggle + label,
#F-toggle + label {
  color: rgb(181, 181, 181);
}

#C-toggle:checked + label,
#F-toggle:checked + label {
  color: black;
  transition: color 500ms;
}

/*? **`` Main section */
/* ***************************************************** */
main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  min-width: 60vw;
  height: 60vh;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 10px 0;
}

/*? **`` City section */
/* ***************************************************** */
#city-wrapper {
  /* background: rebeccapurple; */
  /* color: white; */
  grid-column: 3 / -1;
}

.city_name {
  font-size: 3rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.region {
  margin-bottom: 5px;
}

/*? **`` Current weather section */
/* ***************************************************** */
#current-weather-wrapper {
  /* background: #1ce; */
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
}

.temp_f,
.temp_c {
  font-size: 3rem;
  font-weight: bold;
  /* grid-column: 2 / 3; */
  grid-column: 3 / -1;
}

#current-weather-wrapper > .condition {
  grid-row: 2 / 3;
  /* grid-column: 1 / 2; */
  grid-column: 2 / -1;
}

#current-weather-wrapper > .icon {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
}

/*? **`` Forecast weather section */
/* ***************************************************** */
#forecast-weather-wrapper {
  /* background: #bada55; */
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.forecast-day {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.forecast-day:nth-child(2) {
  border-image: linear-gradient(#00000000, black, #00000000) 1;
  border-width: 0 2px;
  border-style: solid;
}

.date {
  font-weight: bold;
  font-size: 1.25rem;
  grid-row: 3 / 5;
  grid-column: 1 / -1;
}

.maxtemp_c,
.maxtemp_f {
  font-size: 1.5rem;
  grid-row: 6 / 8;
  grid-column: 2 / 3;
}

.mintemp_c,
.mintemp_f {
  font-size: 1.5rem;
  position: relative;
  top: -15px;
  left: -5px;
  grid-row: 8 / 10;
  grid-column: 2 / 3;
}

.forecast-day > .condition {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
}

.forecast-day > .icon {
  grid-row: 5 / -1;
  grid-column: 1 / 2;
}

.daily_chance_of_rain {
  grid-row: 11 / 12;
  grid-column: 1 / 2;
}

.totalprecip_in,
.totalprecip_mm {
  grid-row: 12 / 13;
  grid-column: 1 / 2;
}

.daily_chance_of_snow {
  grid-row: 11 / 12;
  grid-column: 2 / 3;
}

.totalsnow_in,
.totalsnow_cm {
  grid-row: 12 / 13;
  grid-column: 2 / 3;
}

/*? **`` Multi city popup */
/* ***************************************************** */
.multi-city-wrapper {
  background: white;
  padding: 5px 18px;
  border-radius: 10px;
  line-height: 1.25rem;
  width: fit-content;
  z-index: 1;
  position: absolute;
  top: 65px;
}

/*todo **`` Style the last child in the city search to be a lil grayed out and no cursor or highlight. Maybe add asterisks to each end */

.city-choice:hover {
  background: rgba(72, 121, 142, 0.35);
  border-radius: 5px;
  margin: 0 -10px;
  padding: 0 10px;
  cursor: pointer;
}

/*? **`` Footer */
/* ***************************************************** */
footer {
  color: white;
  min-width: 60vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a:link,
footer a:hover,
footer a:active,
footer a:visited {
  color: #aae5fe;
}

#api-tag {
  display: flex;
  align-items: center;
  gap: 10px;
}

#api-tag img {
  background: rgba(255, 255, 255, 0.6);
  padding: 10px;
  border-radius: 5px;
}

/*? **`` Pseudo element symbols and such */
/* ***************************************************** */
.temp_c::after,
.temp_f::after {
  content: '°';
}

.mintemp_c::after,
.mintemp_f::after {
  content: '° low';
}

.maxtemp_c::after,
.maxtemp_f::after {
  content: '° high';
}

.daily_chance_of_rain::after {
  content: '% chance of rain';
}

.daily_chance_of_snow::after {
  content: '% chance of snow';
}

.totalprecip_in::after,
.totalsnow_in::after {
  content: ' in';
}

.totalprecip_mm::after {
  content: ' mm';
}

.totalsnow_cm::after {
  content: ' cm';
}

/*? **`` This is controlled by javascript */
/* ***************************************************** */
.measure-hidden {
  display: none;
}

.weather-hidden {
  display: none;
}

.irrelevant-hidden {
  display: none;
}
