body {
  height: 100vh;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
}

/*? **`` Form section */
/* ***************************************************** */
#search-input {
  padding: 5px 10px;
  border-radius: 50px;
  width: 350px;
  text-align: center;
}

#search-input::placeholder {
  text-align: center;
  opacity: 1;
}

#search-input:focus::placeholder {
  opacity: 0;
  transition: opacity 500ms;
}

#submit-button {
  background: rgba(0, 0, 0, 0);
  border: none;
  position: relative;
  left: -40px;
  top: -18px;
  cursor: pointer;
  user-select: none;
}

#submit-button img {
  position: absolute;
  width: 25px;
  transform: scaleX(-1);
}

/*? **`` Main section */
/* ***************************************************** */
main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: repeat(4, 1fr);
  width: 90vw;
  height: 60vh;
}

/*? **`` City section */
/* ***************************************************** */
#city-wrapper {
  /* background: rebeccapurple; */
  /* color: white; */
  grid-column: 3 / -1;
}

.city_name {
  font-size: 3rem;
  margin-bottom: 10px;
}

.region {
  margin-bottom: 5px;
}

/*? **`` Current weather section */
/* ***************************************************** */
#current-weather-wrapper {
  /* background: #1ce; */
  grid-column: 2 / 3;
  display: grid;
  grid-template-rows: 1fr 1.8fr;
  grid-template-columns: 1fr 2fr;
}

.temp_f,
.temp_c {
  font-size: 3rem;
  grid-column: 2 / 3;
}

#current-weather-wrapper > .condition {
  grid-row: 2 / 3;
  grid-column: 1 / 2;
}

#current-weather-wrapper > .icon {
  grid-row: 1 / 2;
}

/*? **`` Forecast weather section */
/* ***************************************************** */
#forecast-weather-wrapper {
  /* background: #bada55; */
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.forecast-day {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(15, 1fr);
}

.forecast-day:nth-child(2) {
  border-right: 2px solid #000;
  border-left: 2px solid #000;
}

.date {
  font-weight: bold;
  font-size: 1.25rem;
  grid-row: 1 / 3;
  grid-column: 1 / -1;
}

.maxtemp_c,
.maxtemp_f {
  font-size: 1.5rem;
  grid-row: 3 / 5;
  grid-column: 2 / 3;
}

.mintemp_c,
.mintemp_f {
  font-size: 1.5rem;
  position: relative;
  top: -15px;
  grid-row: 5 / 7;
  grid-column: 2 / 3;
}

.forecast-day > .condition {
  grid-row: 6 / 7;
  grid-column: 1 / 2;
}

.forecast-day > .icon {
  grid-row: 3 / -1;
  grid-column: 1 / 2;
}

.daily_chance_of_rain {
  grid-row: 8 / 9;
  grid-column: 1 / 2;
}

.totalprecip_in,
.totalprecip_mm {
  grid-row: 9 / 10;
  grid-column: 1 / 2;
}

.daily_chance_of_snow {
  grid-row: 8 / 9;
  grid-column: 2 / 3;
}

.totalsnow_in,
.totalsnow_cm {
  grid-row: 9 / 10;
  grid-column: 2 / 3;
}

/*? **`` Multi city popup */
/* ***************************************************** */
.multi-city-wrapper {
  background: rgb(255, 206, 150);
  width: fit-content;
}

.city-choice:hover {
  background: orange;
  cursor: pointer;
}

/*? **`` Pseudo element symbols and such */
/* ***************************************************** */
.temp_c::after,
.temp_f::after {
  content: '°';
}

.mintemp_c::after,
.mintemp_f::after {
  content: '° low';
}

.maxtemp_c::after,
.maxtemp_f::after {
  content: '° high';
}

.daily_chance_of_rain::after {
  content: '% chance of rain';
}

.daily_chance_of_snow::after {
  content: '% chance of snow';
}

.totalprecip_in::after,
.totalsnow_in::after {
  content: ' in';
}

.totalprecip_mm::after {
  content: ' mm';
}

.totalsnow_cm::after {
  content: ' cm';
}

/*? **`` This is controlled by javascript */
/* ***************************************************** */
.measure-hidden {
  display: none;
}

.weather-hidden {
  display: none;
}

.irrelevant-hidden {
  display: none;
}
